* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #f43397;
}

.navbar input {
    width: 40%;
    padding: 10px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background: #fdeaf1;
}

.hero h1 {
    font-size: 36px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 20px;
    background: #f43397;
    color: white;
    border: none;
    cursor: pointer;
}

.section {
    padding: 40px;
}

.section h2 {
    margin-bottom: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #eee;
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.why {
    background: #f9f9f9;
    padding: 40px;
    text-align: center;
}

.why-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.footer {
    background: #111;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
